@font-face {
    font-family: "inter-regular";
    src: url(./assets/fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: "permanent-marker-regular";
    src: url(./assets/fonts/PermanentMarker-Regular.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: 400;
}

body {
    font-family: "inter-regular", sans-serif;
}

#outer-container {
    display: grid;
    grid-template-rows: 1fr 9fr;
}

header {
    background-color: #4E4A3B;
    color: #cecece;
    font-size: 1.5rem;
    padding: 18px 0px 18px 12px;
}

.screen {
    background-color: #cecece;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: none;
    background-color: #4E4A3B;
    color: #cecece;
    font-size: 1.5rem;
    padding: 1rem 0;
    min-width: 200px;
    text-align: center;
}
button:hover{
    cursor: pointer;
}

#screen-title {
    margin-top: 54px;
    text-align: center;
}
#start-screen-container,
#pickname-screen-container,
#playing-screen-container,
#end-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#start-screen-container > button {
    min-width: 240px;
}
#pvp-btn,
#p1-name {
    margin-top: 40px;
}
#pve-btn,
#p2-name {
    margin-top: 32px;
}


.p-name-input {
    background-color: #cecece;
    border: 1px solid #4E4A3B;
    box-shadow: 2px 2px 2px 0px rgba(78, 74, 59, 0.50);
    min-height: 56px;
    max-width: 240px;
    font-size: 1.5rem;
    padding-left: 16px;
}
.p-name-input::placeholder {
    opacity: 1;
    color: #4E4A3B;
    font-size: 1.5rem;
}
#start-game-btn {
    margin-top: 80px;
}


#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 40px;
}
.grid-item {
    width: 88px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
    font-family: "permanent-marker-regular";
    font-size: 4rem;
}
.grid-item:hover {
    cursor: pointer;
    background-color: #4d4d4d;
}
.disabled {
    pointer-events: none;
}
.marked-p1 {
    color: #D83021;
}
.marked-p2 {
    color: #21C9D8;
}
#gi0 {
    border-right: 1px solid #4E4A3B;
    border-bottom: 1px solid #4E4A3B;
}
#gi1 {
    border-bottom: 1px solid #4E4A3B;
}
#gi2 {
    border-left: 1px solid #4E4A3B;
    border-bottom: 1px solid #4E4A3B;
}
#gi3 {
    border-right: 1px solid #4E4A3B;
}
#gi5 {
    border-left: 1px solid #4E4A3B;
}
#gi6 {
    border-top: 1px solid #4E4A3B;
    border-right: 1px solid #4E4A3B;
}
#gi7 {
    border-top: 1px solid #4E4A3B;
}
#gi8 {
    border-left: 1px solid #4E4A3B;
    border-top: 1px solid #4E4A3B;
}
#restart-btn {
    margin-top: 32px;
}

#end-screen-container > dialog {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cecece;
    border: 1px solid #4E4A3B;
    padding: 40px 20px;
}
#end-screen-container > dialog > h3 {
    font-size: 2rem;
}
#menu-btn {
    margin-top: 16px;
}

/* #start-screen-container, */
#pickname-screen-container,
#playing-screen-container,
#end-screen-container { /* start screen should not be display none  */
    display: none;
}
